body {
  margin: 0;
  padding: 0;
  background-color: white; /* Establece el fondo blanco */
}
.containerLoginUsuario {
  position: relative;
  top: 22px;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(253, 253, 253, 0.192), rgba(253, 253, 253, 0.164)), url('../fondoLogin.png');
  background-size: cover;
  background-position: center;
  align-items: center;
  margin: 20px; /* Agregamos un margen para separarlo del borde de la pantalla */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px; /* Bordes redondeados */
}
.login-formUsu {
  position: relative;
  background-color: #e74c3c;
  top: 10px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-groupLogUsu label {
  display: block;
  margin-bottom: 6px;
}
.form-groupLogUsu label .bx {
  margin-right: 5px;
  color: #706AD4;
}
.form-groupLogUsu select {
  width: 42%; /* Puedes ajustar este valor según tus necesidades */
}

.form-groupLogUsu input{
  width: 250px;
}

.errores {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  position: relative;
  left: -100px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #333333;
}

.register-link-text {
  color: #007bff;
  text-decoration: none;
}

.link-back {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666666;
}

.back-link {
  text-decoration: none;
  color: #666666;
}

.back-link:hover {
  text-decoration: underline;
}
h2{
  position: inherit;
  top: -15px;
  left: 56px;
  justify-content: center;
}
h3{
  position: relative;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.576);
}
h4{
  position: inherit;
  top: px;
  left: 5%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.576);
}