.containerLoginUsuario {
  position: relative;
  top: 22px;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(253, 253, 253, 0.192), rgba(253, 253, 253, 0.164)),
    url('../fondoLogin.png');
  background-size: cover;
  background-position: center;
}
.login-formUsu {
  position: relative;
  top: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);

}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-groupUsu {
  margin-bottom: 20px;
}

.form-groupUsu label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.form-groupUsu input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
}

.errores {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.password-input {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1px;
}

.password-input input {
  flex: 1;
  border: none;
  font-size: 16px;
}

.password-input i {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  color: #888888;
}

.btn-primary {
  position: relative;
  left: -100px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #333333;
}

.register-link-text {
  color: #007bff;
  text-decoration: none;
}

.link-back {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666666;
}

.back-link {
  text-decoration: none;
  color: #666666;
}

.back-link:hover {
  text-decoration: underline;
}
h2{
  position: inherit;
  top: -15px;
  left: 65px;
  justify-content: center;
}
h3{
  position: relative;
  top: -15px;
  left: 76px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.576);
}
h4{
  position: inherit;
  top: 0px;
  left: 50%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.576);
}