/* fonts.css */

/* @font-face {
  font-family: 'Quicksand-SemiBold';
  src: url('../src/assets/Fonts/Quicksand-SemiBold.ttf') format('truetype');
}

 @font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat-Regular.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'Pacifico';
  src: url('./Fonts/Pacifico-Regular.ttf') format('truetype');
}  */
