/* cardsContainer */
body {
    background-color: #dce0e6; /* Color de fondo deseado para toda la página */
    margin: 0; /* Eliminamos el margen predeterminado del body */
  }
/* 
  .container-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end; 
    padding-top: 20%;
    padding-right: 20px; 
    overflow-y: auto; 
    position: relative; 
  }
  .wrapper {
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translateX(-40%);
    z-index: 1; 
  }
   */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    gap: 20px;
    min-width: 900px;
    max-width: 900px; /* Ancho máximo del contenedor */
    padding: 50px 20px; /* Ajustar los paddings superior e inferior según sea necesario */
    height: 145vh;
    margin-left: 12%;
  }
  