/* 
    #dce0e6
    #606d80
    #567ebb
    #2b4c7e
    #1f1f20
*/
.detail_conteiner {
    height: 100vh;
    padding-top: 15vh;
    background-color: #DCE0E6;
    width: 100vw;
}
.detail {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

.view_psico {
    margin-left: 14vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffff;
    min-width: 35vw;
    min-height: 90vh;
    height: fit-content;
    width: 40%;
    border-radius: 20px;
}

.foto_conteiner {
    height: 100%;
    width: 50%;
}

.foto_conteiner img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.info_psyco {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    color: #2b4c7e;
    
}

.name {
    color: #2ab8fa;
    margin-top: 50px;
    margin-left: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    
    

}

.especialidades {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    color: black;
}
.especialidad{
    margin-top: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    color: black;

}

.time {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    top: 170px;
    color: gray;
}

.contactar {
    margin-top: 75px;
    align-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #567ebb;
    font-size: 20px;
    color: #fff;
    width: 134px;
    height: 70px;

    &:hover {
        background-color: #456697;
    }
}

.label {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.info {
    margin-left: 15px;
}

.negrita {
    color: black;
    font-weight: bold;
    
}

.descripcion {
    margin-left: 15px;
    font-size: 20px;
    
}

.turno_conteiner {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
    height: 650px;
    width: 30vw;
    right: 15vw;
    min-width: 25vw;
    border-radius: 20px;

}

.row1 {
    width: 100%;
    display: flex;
}

.row2 {
    margin-top: 10px;
    font-size: 20px;
    color: gray;
}

.row3 {
    margin-top: 10px;
}