/* 
    #dce0e6
    #606d80
    #567ebb
    #2b4c7e
    #1f1f20
*/
.detail_conteiner {
    height: 100vh;
    padding-top: 15vh;
    background-color: #DCE0E6;
    width: 100vw;
}

.detail {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

.view_psico {
    margin-left: 13vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffff;
    min-width: 35vw;
    min-height: 90vh;
    height: fit-content;
    width: 40%;
    border-radius: 20px;
}

.foto_conteiner {
    height: 100%;
    width: 50%;
}

.foto_conteiner img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.info_psyco {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    color: #2b4c7e;

}

.name {
    color: #2ab8fa;
    margin-top: 50px;
    margin-left: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;



}

.especialidades {
    margin-top: 20px;
    margin-left: -10px;
    font-size: 30px;
    color: black;
    font-weight: 400;
}

.especialidad {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    color: black;
    font-size: 20px;

}

.time {
    margin-top: 20px;
    margin-left: -40px;
    font-size: 20px;
    top: 50vh;
    color: gray;
}

.contactar {
    font-size: 20px;
    height: 70px;
    margin-top: 25px;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #2b4c7e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: #456697;
    }
}

.emoji {
   margin-top: 0;
}



.label {
    font-size: 28px;
    color: black;
    font-weight: 650;
    margin-bottom: 2px;
}

.info {
    margin-left: 15px;
}

.info p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
}


.descripcion {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;


}

.turno_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
    min-height: 400px;
    height: fit-content;
    width: 30vw;
    right: 15vw;
    min-width: 25vw;
    border-radius: 20px;

}
.turno_conteiner h1{
    font-size: 30px;
    display: inline-block;
    width: 100%;
    background-color: #2b4c7e;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.row1 {
    width: 100%;
    display: flex;
}

.row2 {
    margin-top: 10px;
    font-size: 20px;
    color: gray;
}

.row3 {
    margin-top: 10px;
}