.containerLoginPisco {
  display: flex;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  height: 100vh; /* Ajusta la altura del contenedor al 100% del viewport */
  background-image: linear-gradient(rgba(253, 253, 253, 0.192), rgba(253, 253, 253, 0.164)), url('../fondoLogin.png') ;
  background-size: 100% auto; /* Ancho al 100%, altura automática */
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen en el contenedor */
  }

.login-formPsico {
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
  text-align: center;
}

.login-formPsico h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-formPsico h3 {
  color: #666666;
  font-size: 18px;
  margin-bottom: 20px;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 15px;
}

.form-groupPsico label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  color: #333333;
}

.form-groupPsico input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
}

.errores {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-input input {
  flex: 1;
}

.password-input i {
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  color: #888888;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link-text {
  color: #007bff;
  text-decoration: none;
}

.link-back {
  text-align: center;
  margin-top: 15px;
}

.back-link {
  text-decoration: none;
}
.title{
  margin-top: 10%;
  margin-left: -50%;
}