.containerLoginPisco {
  display: flex;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  height: 100vh; /* Ajusta la altura del contenedor al 100% del viewport */
  background-image: linear-gradient(rgba(253, 253, 253, 0.192), rgba(253, 253, 253, 0.164)), url('../fondoLogin.png') ;
  background-size: 100% auto; /* Ancho al 100%, altura automática */
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen en el contenedor */
  }
/** Se aplicican al formulario */
  .login-formPsico {
    margin-top: 7%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-formPsico h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .login-formPsico h3 {
    text-align: left;
    margin-bottom: 30px;
    font-size: x-large;
  }
  .login-formPsico p {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .form-groupPsico label {
    display: block;
    margin-bottom: 1px;
}
.form-groupPsico label {
    display: flex;
    align-items: center; /* Alineamos los elementos verticalmente */
    margin-bottom: 10px;
    margin-left: 50px;
  }
  
  /* Añadimos espacio entre el ícono y el campo de contraseña */
  .form-groupPsico label .bx {
    margin-right: 5px;
  }
  
  /* Estilos para el campo de contraseña */
  .password-input {
    display: flex;
    align-items: center;
  }
  
  .password-input input {
    flex: 1;
  }
  
  .password-input i {
    cursor: pointer;
    margin-left: 5px; /* Agrega un margen a la izquierda para separar el ícono del campo */
  }

  .btn-primary {
    display: block;
    margin-left: 80px;
    padding: 8px;
    background-color: #2b4c7e;
    color: white;
    border-radius: 3px;
    margin-left: 100px;
    margin-top: 30px;
    transition: background-color 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #1c375b; 
}
  .errores {
    color: red;
    font-size:small;
  }

  /* Icons */
.bx {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .register-link{
    margin-top: 20px;
    margin-bottom: 20px;
  }