.home{
    display: flex;
    flex-direction: row;
}
.col1{
    height: 100vh;
    min-width: 200px;
}
.col2{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88vw;
    min-height: 900px;
}
.search_conteiner{
    display: flex;
    justify-content: center;
    align-items: center;

}
