
.home{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.col1Home{
    height: 100vh;
}
.col2Home{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_conteinerHome{
    display: flex;
    justify-content: center;
    align-items: center;

}
.welcomeMessage p {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center; 
    color: #5e5f5e ; 
    font-size: 30px; 
    margin-bottom: 0.5%;
    
  }
