.container {
  /* Utilizamos position: fixed para posicionar el contenedor */
  /* top: 9%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #2b4c7e;
  padding: 70px;
  left: 0;
  gap: 0px; */
  /* Añadimos un espacio de 7px entre los elementos */
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px;
  background-color:  #2b4c7e;
  left: 0; */
    /* position: fixed; */
    margin-top: 20vh;
    background-color: #F1F0EA;
    color: #fff;
    padding: 20px;
    width: 70%;
    /* margin-top: 46%; Ajusta la posición vertical en la parte superior */
    /* margin-left: -90%; Ajusta la posición horizontal en la parte izquierda */
    /* bottom: 0; Ajusta la altura del contenedor para ocupar toda la altura disponible */
}

.label {
  font-size: 14px;
  color: #606D80;
  margin-right: 8px;
  font-weight: bold; 
}
.selectContainer {  
  position: relative;
  margin-bottom: 30px; 
  color: #606D80;
  /* background-color:#BBBDEE; */
  padding: 4px;
  border: 2px solid #BBBDEE ;
  border-radius: 7px;
}

.select {
  width: 158px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #606D80;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
}

.select option {
  background-color: #3d3a50;
  color: white;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  
}

.selectContainer::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #606D80;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #706AD4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 40px;

}

.btn:hover {
  background-color: #2d2b3a;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* sdasdas */
/* Filters.module.css */

/* Estilos para el contenedor principal */