/* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
.accountContainer {
    margin-top: 2vh;
    display: flex;
    min-height: 89vh;
    height: fit-content;
    width: 100vw;
    max-width: 100vw;
  
  }
  
  .sidebar {
    background-color: #706AD4;
    padding-top: 2%;
    padding-left: 1vw;
    /* padding-bottom: 80%; */
    min-height: 89vh;
    width: 12vw;
    min-width: 11vw;
}
  
  
  .mainContent {
    /* Centrar verticalmente */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* height: 100%; */
    width: 88vw;
  
  }
  
  .customNavLink {
    cursor: pointer;
    padding: 10px 0;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .customNavLink.active {
    background-color: rgba(200, 200, 200, 0.1);
    /* Gris muy suave con poca opacidad */
    color: white;
    border-left: 4px solid #555;
    /* Borde izquierdo de un gris fuerte */
    padding-left: 8px;
  }
  
  .card {
    border: none;
    flex: 3;
    padding: 20px;
    /* Centrar verticalmente */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    height: 100%;
  
  }
  
  .cardBody {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar verticalmente */
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .tablas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-outline-primary {
    margin-top: 10px;
  }
  
  
  .foto_conteiner {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
  
  }
  
  
  .foto_conteiner img {
    width: 50%;
    height: auto;
  
    border-radius: 70px;
  }
  
  .title {
    margin-bottom: 1%;
    font-size: 200%;
    font-weight: bold;
    color: #2b4c7e;
  }
  
  .subtitle {
    font-size: 120%;
    margin-bottom: 3%;
  }
  
  .infoConteiner {
    display: grid;
    margin-top: 25px;
    margin-bottom: 45px;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    margin-left: 10%;
    gap: 2em;
  }
  
  
  
  .pais {
    font-size: 130%;
    font-weight: bold;
    color: #555;
  }
  
  .specialties {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2%;
    justify-content: center;
    /* Centrar horizontalmente */
  
  }
  
  .specialties p {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .descripcion {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    text-align: start;
  
  }
  
  .descripcionTitle {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    /* Ajusta el margen superior según tu diseño */
  }
  
  .propiedades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin-bottom: 8%;
    margin-top: 8%;
  }
  
  .prop {
    font-weight: bold;
  }
  
  .textLeft {
    display: flex;
    flex-direction: column;
    text-align: left;
  }