  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.paginationContainer {
  flex-direction: column;
}

.buttonContainer {
  position: absolute;
  display: flex;
  margin-top: -67%;
  gap: 10px;
}
 .contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.btn {
  background-color: #706AD4;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Montserrat', sans-serif;
}
.btn:hover {
  background-color: #BBBDEE;
}
.pageIndicator {
  position: relative;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: #706AD4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}


