.header-container{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.header-logo {
    height: 80px; 
    margin-top: 2%; 
    margin-left: 1%;
  
}

.logoName {
    color: #5e5f5e;
    margin-top: -55px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left: 8%; 
}
